/*  reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family:sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight:400;
  color:#354052;
}

/*  reset */


.ml30{
  margin-left: 30px;
}
.mt20{
  margin-top: 20px;
}
.mt60{
  margin-top: 60px;
}



.pl60{
  padding-left: 60px;
}

/*全局用的内容*/
[disabled='disabled']{
  color: #c5ccd4!important;
  cursor: not-allowed!important;
  background-image: none!important;
  background-color: #f7f7f7!important;
  border-color: #dcdee2!important;
}


.text-overflow{   //文字溢出   宽度自己定义
  white-space:nowrap;   //不换行     都支持
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;   //省略号显示   都支持
  overflow: hidden;
}
.none{
  display: none!important;
}
.hidden{
  visibility: hidden;
}

.relative{
  position: relative;
}
.y-center{       //配合relative，父元素垂直居中     IE9及其以上
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform:translateY(-50%);     /* IE 9 */
  -moz-transform:translateY(-50%);    /* Firefox */
  -webkit-transform:translateY(-50%);/* Safari 和 Chrome */
  -o-transform:translateY(-50%);     /* Opera */
}
.xy-center{//配合relative，父元素水平垂直居中     IE9及其以上
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);     /* IE 9 */
  -moz-transform:translate(-50%,-50%);    /* Firefox */
  -webkit-transform:translate(-50%,-50%);/* Safari 和 Chrome */
  -o-transform:translate(-50%,-50%);     /* Opera */
}
.clearfix:after{    //清除浮动  利用的是伪元素
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix{
  zoom: 1;
}


.flex{
  display: flex;
}
.a-center{
  align-items: center;
}

/*全局用的内容*/